Source: fusionpbx-sounds
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-sounds
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-sounds: fusionpbx custom sounds files 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
