Source: fusionpbx-sqldb
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-sqldb
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-conf: fusionpbx database files 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
