Source: fusionpbx-app-sipml5
Section: user/www
Priority: extra
Maintainer: Richard Neese <r.neese@gmail.com>
Standards-Version: 3.7.2
#XSBC-Bugtracker: mailto:r.neese@gmail.com

Package: fusionpbx-app-sipml5
Architecture: all
Depends: ${misc:Depends}
Description: Fusionpbx-app-sipml5:  world's first open source (BSD license) HTML5 SIP client 
#XSBC-Bugtracker: mailto:r.neese@gmail.com
